.main-layout{
  display: flex;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  height: calc(100vh - 60px);

  .diary-container {
    flex: 1;
    overflow-y: auto;
    .diary-header{
      display: flex;
      vertical-align: middle;
      margin-bottom: 20px;
      >*{
        color: #ff8fa3;
        font-size: 1.5rem;
      }
      .changeMonthBtn{
        padding: 0 10px;
        cursor: pointer;
      }
      h2 {
        font-weight: 600;
      }
    }
  }
  .detail-view {
    width: 400px;
    padding: 30px;
    margin-left: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(255, 77, 109, 0.2); 
    position: sticky;
    top: 20px;
    max-height: 100vh;
  }
}



.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  .diary-card {
    background: #ffffff;
    border-radius: 12px;
    border: 1px solid #ffe5ec;
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(255, 77, 109, 0.2); 
    }
    .card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 12px;
      .date {
        font-size: 0.85rem;
        color: #888;
      }

      .more-btn {
        background: none;
        border: none;
        color: #aaa;
        cursor: pointer;
        font-size: 1.2rem;
      }
    }
    .card-body{
      .title {
        margin: 0 0 10px 0;
        font-size: 1.25rem;
        color: #ff8fa3;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .content {
        font-size: 0.95rem;
        color: #555;
        line-height: 1.6;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 15px;
      }
    }
    .card-footer {
      margin-top: auto;
      display: flex;
      gap: 8px;
      .tag {
        font-size: 0.75rem;
        background: #ffe5ec;
        color: #ff8fa3;
        padding: 4px 8px;
        border-radius: 4px;
      }
    }
  }
}




