.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
  // padding: 50px;
  margin: auto;
  max-width: 1200px;

  section {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 40px;
    padding: 30px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15); 
    backdrop-filter: blur(10px);
    min-height: 600px;
  }

  .calendar-section { 
    min-width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    app-calendar{
      width: 100%;
      height: 100%;
    }
  }
  .diary-section { 
    flex :1;
    min-width: 400px; 
  }
}