:host {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // min-height: calc(100vh - 120px); 
  // background-color: #fff0f3; 
  // padding: 40px;
}
.content{
  max-width: 1200px;
  margin: auto;
  height: calc(100vh - 60px);
}
