:host {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // min-height: calc(100vh - 120px); 
  // background-color: #fff0f3; 
  padding: 40px;
}

.main-wrapper {
  display: flex;
  width: 100%;
  max-width: 1100px;
  min-height: calc(100vh - 120px); 
  // gap: 40px;
  align-items: flex-start;
}